In [1]:
import sys
from pathlib import Path
prediction_mode_path = Path("../module")
sys.path.append(prediction_mode_path.as_posix())
import models_creation as pred_model

import pandas as pd
import numpy as np

from sklearn.metrics import r2_score

import matplotlib.pyplot as plt
from sklearn.tree import plot_tree

from matplotlib import pyplot as plt

import joblib

import warnings
warnings.filterwarnings('ignore')

In [2]:
load_prepared_data = pd.read_excel('../Data/Kolchicyna_machine_learning.xlsx')
load_prepared_data = load_prepared_data.drop(columns=['Unnamed: 0'])

In [3]:
load_prepared_data.head()

,AATS0Z,AATS0are,AATS0d,AATS0dv,AATS0i,AATS0m,AATS0p,AATS0pe,AATS0s,AATS0se,...,A549_float,MCF-7_float,LoVo_float,LoVo/DX_float,BALB/3T3_float,A549_float_transformed,MCF-7_float_transformed,LoVo_float_transformed,LoVo/DX_float_transformed,BALB/3T3_float_transformed
0,25.090909,6.046518,3.109091,6.662626,160.775045,99.075564,1.555512,6.126680,3.435416,7.629859,...,10.8,10.3,6.5,54.9,10.2,7.966576,7.987163,8.187087,7.260428,7.991400
1,24.448276,6.008422,3.051724,6.386973,161.021674,96.473315,1.538471,6.088791,3.330998,7.596891,...,11.6,12.0,8.5,31.1,14.3,7.935542,7.920819,8.070581,7.507240,7.844664
2,23.868852,5.974074,3.000000,6.138434,161.244045,94.127025,1.523105,6.054630,3.236850,7.567166,...,10.9,12.2,8.8,17.9,11.7,7.962574,7.913640,8.055517,7.747147,7.931814
3,23.868852,5.974074,3.032787,6.171220,161.244045,94.127025,1.523105,6.054630,3.257798,7.567166,...,10.5,11.3,8.5,10.2,11.0,7.978811,7.946922,8.070581,7.991400,7.958607
4,23.343750,5.942945,2.953125,5.913194,161.445569,92.000700,1.509180,6.023670,3.151529,7.540228,...,89.5,92.7,52.8,77.8,99.4,7.048177,7.032920,7.277366,7.109020,7.002614

In [4]:
list(load_prepared_data.columns)[-5:]

['A549_float_transformed',
 'MCF-7_float_transformed',
 'LoVo_float_transformed',
 'LoVo/DX_float_transformed',
 'BALB/3T3_float_transformed']

In [5]:
list(load_prepared_data.columns)[0:-5][-6] #last molecular descriptor

'piPC9'

In [6]:
list(load_prepared_data.columns)[0:-10][-1]

'piPC9'

In [7]:
len(list(load_prepared_data.columns)[0:-10])

1211

## A549

In [8]:
data = load_prepared_data[list(load_prepared_data.columns)[0:-10]]

In [9]:
data['A549'] = load_prepared_data[load_prepared_data.columns[-5]]

In [10]:
data.head()

,AATS0Z,AATS0are,AATS0d,AATS0dv,AATS0i,AATS0m,AATS0p,AATS0pe,AATS0s,AATS0se,...,piPC10,piPC2,piPC3,piPC4,piPC5,piPC6,piPC7,piPC8,piPC9,A549
0,25.090909,6.046518,3.109091,6.662626,160.775045,99.075564,1.555512,6.126680,3.435416,7.629859,...,7.999655,4.266195,4.915408,5.516700,6.098566,6.595759,6.979116,7.337313,7.681445,7.966576
1,24.448276,6.008422,3.051724,6.386973,161.021674,96.473315,1.538471,6.088791,3.330998,7.596891,...,8.018726,4.280132,4.922714,5.520711,6.103048,6.601209,6.985613,7.349442,7.695531,7.935542
2,23.868852,5.974074,3.000000,6.138434,161.244045,94.127025,1.523105,6.054630,3.236850,7.567166,...,8.028799,4.293878,4.929967,5.524706,6.105281,6.603923,6.989306,7.353932,7.704023,7.962574
3,23.868852,5.974074,3.032787,6.171220,161.244045,94.127025,1.523105,6.054630,3.257798,7.567166,...,8.037440,4.307438,4.929967,5.524706,6.107510,6.606629,6.992068,7.361425,7.709420,7.978811
4,23.343750,5.942945,2.953125,5.913194,161.445569,92.000700,1.509180,6.023670,3.151529,7.540228,...,8.034892,4.307438,4.937168,5.528685,6.107510,6.605277,6.991148,7.356489,7.707175,7.048177

In [11]:
pred_model.correlation_dataframe(data, 0.3, 'A549').shape

(127, 3)

In [12]:
pred_model.correlation_dataframe(data, 0.5, 'A549')

     molecular descriptor name  corr_value  absolute correlation value
226                     AMID_O   -0.557717                    0.557717
505                EState_VSA5   -0.534748                    0.534748
791                    MDEO-12   -0.555724                    0.555724
921                      SaasC    0.513071                    0.513071
1091               VSA_EState5    0.526082                    0.526082

In [13]:
pred_model.correlation_dataframe(data, 0.54, 'A549') # => these descriptors will be used to build models

    molecular descriptor name  corr_value  absolute correlation value
226                    AMID_O   -0.557717                    0.557717
791                   MDEO-12   -0.555724                    0.555724

## MCF-7

In [14]:
data = load_prepared_data[list(load_prepared_data.columns)[0:-10]]
data['MCF-7'] = load_prepared_data[load_prepared_data.columns[-4]]
data.head()

,AATS0Z,AATS0are,AATS0d,AATS0dv,AATS0i,AATS0m,AATS0p,AATS0pe,AATS0s,AATS0se,...,piPC10,piPC2,piPC3,piPC4,piPC5,piPC6,piPC7,piPC8,piPC9,MCF-7
0,25.090909,6.046518,3.109091,6.662626,160.775045,99.075564,1.555512,6.126680,3.435416,7.629859,...,7.999655,4.266195,4.915408,5.516700,6.098566,6.595759,6.979116,7.337313,7.681445,7.987163
1,24.448276,6.008422,3.051724,6.386973,161.021674,96.473315,1.538471,6.088791,3.330998,7.596891,...,8.018726,4.280132,4.922714,5.520711,6.103048,6.601209,6.985613,7.349442,7.695531,7.920819
2,23.868852,5.974074,3.000000,6.138434,161.244045,94.127025,1.523105,6.054630,3.236850,7.567166,...,8.028799,4.293878,4.929967,5.524706,6.105281,6.603923,6.989306,7.353932,7.704023,7.913640
3,23.868852,5.974074,3.032787,6.171220,161.244045,94.127025,1.523105,6.054630,3.257798,7.567166,...,8.037440,4.307438,4.929967,5.524706,6.107510,6.606629,6.992068,7.361425,7.709420,7.946922
4,23.343750,5.942945,2.953125,5.913194,161.445569,92.000700,1.509180,6.023670,3.151529,7.540228,...,8.034892,4.307438,4.937168,5.528685,6.107510,6.605277,6.991148,7.356489,7.707175,7.032920

In [15]:
pred_model.correlation_dataframe(data, 0.3, 'MCF-7').shape

(135, 3)

In [16]:
pred_model.correlation_dataframe(data, 0.5, 'MCF-7')

    molecular descriptor name  corr_value  absolute correlation value
226                    AMID_O   -0.520578                    0.520578
505               EState_VSA5   -0.578904                    0.578904
506               EState_VSA6    0.519794                    0.519794
791                   MDEO-12   -0.525441                    0.525441

In [17]:
pred_model.correlation_dataframe(data, 0.525, 'MCF-7') # => these descriptors will be used to build models

    molecular descriptor name  corr_value  absolute correlation value
505               EState_VSA5   -0.578904                    0.578904
791                   MDEO-12   -0.525441                    0.525441

## LoVo

In [18]:
data = load_prepared_data[list(load_prepared_data.columns)[0:-10]]
data['LoVo'] = load_prepared_data[load_prepared_data.columns[-3]]
data.head()

,AATS0Z,AATS0are,AATS0d,AATS0dv,AATS0i,AATS0m,AATS0p,AATS0pe,AATS0s,AATS0se,...,piPC10,piPC2,piPC3,piPC4,piPC5,piPC6,piPC7,piPC8,piPC9,LoVo
0,25.090909,6.046518,3.109091,6.662626,160.775045,99.075564,1.555512,6.126680,3.435416,7.629859,...,7.999655,4.266195,4.915408,5.516700,6.098566,6.595759,6.979116,7.337313,7.681445,8.187087
1,24.448276,6.008422,3.051724,6.386973,161.021674,96.473315,1.538471,6.088791,3.330998,7.596891,...,8.018726,4.280132,4.922714,5.520711,6.103048,6.601209,6.985613,7.349442,7.695531,8.070581
2,23.868852,5.974074,3.000000,6.138434,161.244045,94.127025,1.523105,6.054630,3.236850,7.567166,...,8.028799,4.293878,4.929967,5.524706,6.105281,6.603923,6.989306,7.353932,7.704023,8.055517
3,23.868852,5.974074,3.032787,6.171220,161.244045,94.127025,1.523105,6.054630,3.257798,7.567166,...,8.037440,4.307438,4.929967,5.524706,6.107510,6.606629,6.992068,7.361425,7.709420,8.070581
4,23.343750,5.942945,2.953125,5.913194,161.445569,92.000700,1.509180,6.023670,3.151529,7.540228,...,8.034892,4.307438,4.937168,5.528685,6.107510,6.605277,6.991148,7.356489,7.707175,7.277366

In [19]:
pred_model.correlation_dataframe(data, 0.3, 'LoVo').shape

(83, 3)

In [20]:
pred_model.correlation_dataframe(data, 0.5, 'LoVo')

     molecular descriptor name  corr_value  absolute correlation value
226                     AMID_O   -0.524157                    0.524157
505                EState_VSA5   -0.579664                    0.579664
791                    MDEO-12   -0.558727                    0.558727
851                      NdssC   -0.506855                    0.506855
1091               VSA_EState5    0.503578                    0.503578

In [21]:
pred_model.correlation_dataframe(data, 0.55, 'LoVo') # => these descriptors will be used to build models

    molecular descriptor name  corr_value  absolute correlation value
505               EState_VSA5   -0.579664                    0.579664
791                   MDEO-12   -0.558727                    0.558727

## LoVo/DX

In [22]:
data = load_prepared_data[list(load_prepared_data.columns)[0:-10]]
data['LoVo/DX'] = load_prepared_data[load_prepared_data.columns[-2]]
data.head()

,AATS0Z,AATS0are,AATS0d,AATS0dv,AATS0i,AATS0m,AATS0p,AATS0pe,AATS0s,AATS0se,...,piPC10,piPC2,piPC3,piPC4,piPC5,piPC6,piPC7,piPC8,piPC9,LoVo/DX
0,25.090909,6.046518,3.109091,6.662626,160.775045,99.075564,1.555512,6.126680,3.435416,7.629859,...,7.999655,4.266195,4.915408,5.516700,6.098566,6.595759,6.979116,7.337313,7.681445,7.260428
1,24.448276,6.008422,3.051724,6.386973,161.021674,96.473315,1.538471,6.088791,3.330998,7.596891,...,8.018726,4.280132,4.922714,5.520711,6.103048,6.601209,6.985613,7.349442,7.695531,7.507240
2,23.868852,5.974074,3.000000,6.138434,161.244045,94.127025,1.523105,6.054630,3.236850,7.567166,...,8.028799,4.293878,4.929967,5.524706,6.105281,6.603923,6.989306,7.353932,7.704023,7.747147
3,23.868852,5.974074,3.032787,6.171220,161.244045,94.127025,1.523105,6.054630,3.257798,7.567166,...,8.037440,4.307438,4.929967,5.524706,6.107510,6.606629,6.992068,7.361425,7.709420,7.991400
4,23.343750,5.942945,2.953125,5.913194,161.445569,92.000700,1.509180,6.023670,3.151529,7.540228,...,8.034892,4.307438,4.937168,5.528685,6.107510,6.605277,6.991148,7.356489,7.707175,7.109020

In [23]:
print(data.shape)
data = data.dropna()

(120, 1212)

In [24]:
data.shape

(106, 1212)

In [25]:
pred_model.correlation_dataframe(data, 0.3, 'LoVo/DX').shape

(601, 3)

In [26]:
pred_model.correlation_dataframe(data, 0.5, 'LoVo/DX').shape

(50, 3)

In [27]:
pred_model.correlation_dataframe(data, 0.64, 'LoVo/DX') # => these descriptors will be used to build models

    molecular descriptor name  corr_value  absolute correlation value
556                    GATS2c    0.652245                    0.652245
851                     NdssC   -0.647960                    0.647960
881                      RNCG    0.663041                    0.663041

## BALB/3T3

In [28]:
data = load_prepared_data[list(load_prepared_data.columns)[0:-10]]
data['BALB/3T3'] = load_prepared_data[load_prepared_data.columns[-1]]
data.head()

,AATS0Z,AATS0are,AATS0d,AATS0dv,AATS0i,AATS0m,AATS0p,AATS0pe,AATS0s,AATS0se,...,piPC10,piPC2,piPC3,piPC4,piPC5,piPC6,piPC7,piPC8,piPC9,BALB/3T3
0,25.090909,6.046518,3.109091,6.662626,160.775045,99.075564,1.555512,6.126680,3.435416,7.629859,...,7.999655,4.266195,4.915408,5.516700,6.098566,6.595759,6.979116,7.337313,7.681445,7.991400
1,24.448276,6.008422,3.051724,6.386973,161.021674,96.473315,1.538471,6.088791,3.330998,7.596891,...,8.018726,4.280132,4.922714,5.520711,6.103048,6.601209,6.985613,7.349442,7.695531,7.844664
2,23.868852,5.974074,3.000000,6.138434,161.244045,94.127025,1.523105,6.054630,3.236850,7.567166,...,8.028799,4.293878,4.929967,5.524706,6.105281,6.603923,6.989306,7.353932,7.704023,7.931814
3,23.868852,5.974074,3.032787,6.171220,161.244045,94.127025,1.523105,6.054630,3.257798,7.567166,...,8.037440,4.307438,4.929967,5.524706,6.107510,6.606629,6.992068,7.361425,7.709420,7.958607
4,23.343750,5.942945,2.953125,5.913194,161.445569,92.000700,1.509180,6.023670,3.151529,7.540228,...,8.034892,4.307438,4.937168,5.528685,6.107510,6.605277,6.991148,7.356489,7.707175,7.002614

In [29]:
pred_model.correlation_dataframe(data, 0.3, 'BALB/3T3').shape

(112, 3)

In [30]:
pred_model.correlation_dataframe(data, 0.5, 'BALB/3T3')

     molecular descriptor name  corr_value  absolute correlation value
226                     AMID_O   -0.546843                    0.546843
505                EState_VSA5   -0.588780                    0.588780
556                     GATS2c    0.511671                    0.511671
791                    MDEO-12   -0.582747                    0.582747
847                        NdO   -0.500462                    0.500462
851                      NdssC   -0.526783                    0.526783
1091               VSA_EState5    0.529677                    0.529677

In [31]:
pred_model.correlation_dataframe(data, 0.58, 'BALB/3T3') # => these descriptors will be used to build models

    molecular descriptor name  corr_value  absolute correlation value
505               EState_VSA5   -0.588780                    0.588780
791                   MDEO-12   -0.582747                    0.582747